.Main {
    height: auto;
    width: 100%;
    /*padding: 0 8px;*/
}

.site-Main {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /**/
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 3px solid rgb(35, 64, 83);
    background-color: rgb(53, 88, 88);
    gap: 2rem;
}