/* App.css */

.main-container {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.glow-effect {
    color: #fff;
    text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}

/* 效果: 上 -> 下 淡出 */
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 0.95;
        transform: translateY(0);
    }
}

/* 效果: 右 -> 左 淡出 */
@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 0.9;
        transform: translateX(0);
    }
}

/* 背景網格效果 */
.background-grid-effect {
    opacity: 0.8;
    position: fixed;
    top: -100px; left: -100px;
    right: -100px; bottom: -100px;
    z-index: -1;
    background-image: 
        linear-gradient(rgba(192, 132, 252, 0.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(192, 132, 252, 0.08) 1px, transparent 1px);
    background-size: 50px 50px;
    animation: gridMove 15s linear infinite;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
@keyframes gridMove {
    0% { 
        transform: translate(0, 0); 
    }
    100% { 
        transform: translate(50px, 50px); 
    }
}


.glow-blob {
    position: fixed;
    border-radius: 9999px;
    filter: blur(120px); 
    opacity: 0.5;
    z-index: -1;

    animation: blobFloat 5s ease-in-out infinite;
}
@keyframes blobFloat {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    33% {
        /* 往右上移動並放大 */
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        /* 往左下移動並縮小 */
        transform: translate(-20px, 20px) scale(0.9);
    }
}




/* 不明所以然的動畫 */
@keyframes flicker {
	0%, 19.9%, 22%, 62.9%, 64%, 64.9%, 70%, 100% {
		opacity: 0.99;
		text-shadow: 
			-1px -1px 0 rgba(255,255,255, 0.4), 
			1px -1px 0 rgba(255,255,255, 0.4), 
			-1px 1px 0 rgba(255,255,255, 0.4), 
			1px 1px 0 rgba(255,255,255, 0.4), 
			0 -1px 3px,
			0 0 1px,
			0 0 1px #35e7ff, 
			0 0 6px #46ffff, 
			0 0 3px #ff34b1, 
			0 2px 3px #000;
	}
	20%, 21.9%, 63%, 63.9%, 65%, 69.9% {
		opacity: 0.4;
		text-shadow: none;
	}
}

@keyframes blinkBackground {
  0% {
    background-color: #f700ff; /* 紅色 */
  }
  50% {
    background-color: #a400b3; /* 黑色 */
  }
  100% {
    background-color: #f700ff; /* 回到紅色 */
  }
}